body {
  background-color: black;
  color: white;
  padding: 15px;
}

div#app {
  text-align: center;
}

div#main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div.column {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  /*border-width: 0 1px;*/
  /*border-style: solid;*/
  /*border-color: #333;*/
  width: 100vw;
}

/*** General ***/

.bold {
  font-weight: bold;
}

/*** Bitcoin Dominance ***/

span#bitcoin-dominance:after {
  content: "%";
}

span#bitcoin-dominance {
  font-size: 2em;
}

/*** Crypto Fear and Greed Index ***/

span#crypto-fear-and-greed {
  font-size: 2em;
}

/*** BitMEX Open Interest ***/

/* span#bitmex-total-open-interest:before {
  content: "$";
} */

span#bitmex-total-open-interest {
  font-size: 2em;
  font-weight: bold;
}

/* td.open-interest:before {
  content: "$";
} */

td.bitmex-open-interest {
  text-align: right;
}

/*** BitMEX Volume Flow ***/

/* span#bitmex-price:before, span#buy-flow:before, span#sell-flow:before {
  content: "$";
} */

/* span#buy-flow:after, span#sell-flow:after {
  content: "/s";
} */

span#bitmex-price {
  font-size: 2.5em;
  font-weight: bold;
  color: royalblue;
}

.monospace {
  font-size: 16px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

div#volume-flow {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  /*border: 1px solid white;*/
}

span#buy-flow, span#sell-flow {
  font-weight: bold;
  font-size: 2.5em;
}

span#buy-flow {
  color: lime;
}

span#sell-flow {
  color: #b33;
}

div#volume-flow-chart {
  margin: 25px 0;
}

/*** BitMEX Recent Trades ***/

table#recent-trades {
  padding: 10px;
  /*border: 1px solid white;*/
  margin: auto;
}

tr.buy {
  color: lime;
}

tr.sell {
  color: #b33;
}

td.time {
  text-align: right;
}

td.side {
  text-transform: uppercase;
  text-align: right;
  width: 50px;
}

td.size {
  text-align: center;
  width: 100px;
}

tr.big-size {
  font-weight: bold;
}

tr.huge-size {
  font-size: 1.1em;
  font-weight: bolder;
}

/* td.price:before {
  content: "$";
} */

td.price {
  text-align: left;
}

/*** Trade (deprecating) ***/

input, textarea, button {
  padding: 4px 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

input[type=submit] {
  padding: 6px 10px;
}

button#order {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 1.1em;
}

table#order td, table#results td {
  vertical-align: top;
  min-width: 120px;
  padding: 3px 5px;
}

table#order table td {
  min-width: 0;
}

a.proxy-button:link {
  text-decoration: none;
}

a.proxy-button:hover {
  text-decoration: none;
  color: #0aa;
}

div#quick-access {
  position: fixed;
  right: 15px;
  top: 15px;
}

div#quick-access button {
  margin: 0 4px;
}

/*** Trade ***/

input[type=number]] {
  width: 55px;
}

.left-column {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.right-column {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.one-third-right-column {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*** Trade Journal ***/

table#trade-history {
  width: 100%;
}

table#trade-history td {
  padding: 5px 7px;
}

table#trade-history td.trade-history-comment {
  padding: 10px;
  /*padding: 5px 7px 5px 28px;*/
  /*text-indent: -15px;*/
  /*font-style: italic;*/
}

table#trade-history td.trade-history-comment p.created-at {
  text-align: right;
  margin: auto;
  font-style: italic;
  font-size: 0.75em;
}

table#trade-history td.trade-history-comment p.comment {
  margin: 0;
  /*font-style: italic;*/
}

table#trade-history td.trade-history-add-comment textarea {
  /*width: 97%;*/
  min-width: 97%;
  max-width: fit-content;
  margin: 15px 0;
}


