html,
body,
div#root {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.my-check,
input.my-radio {
  width: 17px;
  height: 17px;
  top: 3px;
  margin-right: 2px;
  position: relative;
}

input.my-small-input {
  padding: 0 10px;
  margin: 0 8px 0 0;
  width: 100px;
}

input.my-label-input {
  width: 200px;
}

.my-fader {
  opacity: 0.6;
  transition: 0.3s;
}

.my-fader:hover {
  opacity: 1;
}

.my-panel-title {
  font-family: 'Roboto Condensed';
}

.my-round {
  border-radius: 8px;
}

.my-round-left {
  border-radius: 8px 0 0 8px;
}

.my-round-right {
  border-radius: 0 8px 8px 0;
}

.my-round-top {
  border-radius: 8px 8px 0 0;
}

.my-round-bottom {
  border-radius: 0 0 8px 8px;
}

.my-round-bottom-left {
  border-radius: 0 0 0 8px;
}

.my-text-button {
  color: white;
  background: none;
  border: none;
  margin: 0;
  padding: 0 8px;
  margin: 0 6px;
  cursor: pointer;
  border: 1px solid transparent;
}

.my-text-button:hover {
  color: orange;
  border: 1px solid orange;
  outline: 0;
}

.my-text-button:active,
.my-text-button:focus {
  color: white;
  border: 1px solid white;
  outline: 0;
}

.monospace {
  font-family: 'Roboto Mono', 'PT Mono', Monaco, Menlo, Consolas, 'Courier New',
    monospace;
}

div.my-greeks {
  display: flex;
  justify-content: space-around;
}

div.my-expirations {
  display: inline-flex;
  overflow-x: auto;
}

div.my-expiration {
  flex-shrink: 0;
}

div.my-option-chain {
  display: flex;
  flex-flow: row wrap;
}

div.my-half-option-chain {
  flex-grow: 1;
}

div.my-options-inner-container {
  height: 250px;
  overflow-y: auto;
}

div.my-options-inner-container table thead tr th {
  top: 0;
  position: sticky;
  z-index: 1;
}

div.my-options-inner-container table thead tr.w3-theme-d1 th {
  background: inherit;
}

div.my-options-inner-container table th:last-child,
div.my-options-inner-container table td:last-child {
  padding-right: 25px;
}

div.my-options-basket-container-container {
  margin-top: 16px;
  position: sticky;
  bottom: -16px;
  width: 100%;
  padding-bottom: 8px !important;
  z-index: 3;
}

div.my-options-basket-container {
  box-shadow: 0 2px 5px 0px rgba(255, 255, 255, 0.16),
    0 2px 10px 0px rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 8px !important;
  width: fit-content;
  margin: 0 auto;
}

div.my-options-basket-container > table.my-options-basket {
  width: auto;
}

div.my-option-basket-hide {
  width: 'fit-content';
  padding: 4px;
}

div.my-option-basket-show {
  width: fit-content;
  margin: 0 auto 7px;
  padding: 8px 6px 12px 6px;
  align-self: flex-end;
}

table.my-options-basket td,
table.my-options-basket th {
  vertical-align: middle;
}

.my-white-glow {
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.6;
}

.my-white-glow:hover {
  box-shadow: 0 2px 5px 0px rgba(255, 255, 255, 0.16),
    0 2px 10px 0px rgba(255, 255, 255, 0.12);
  opacity: 1;
}

.my-no-wrap {
  white-space: nowrap;
}

.my-transition {
  transition: 0.4s;
}

div#title {
  top: 0;
  position: sticky;
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

div#title h1 {
  font-family: 'Parisienne', 'Alex Brush', 'Allura', 'Dancing Script', serif;
  font-size: 80pt;
  text-decoration: none;
  line-height: 1.2;
}

div#title h1 a {
  text-decoration: none;
}

svg g {
  font-family: 'Kreon', sans-serif;
}

svg#volume-flow-chart g {
  font-size: 0.85em;
}

svg#volume-flow-chart g.flow-grid line {
  stroke: lightgrey;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

svg#confluence-detector g {
  font-size: 0.95em;
}

svg#confluence-detector g.lump-axis text,
svg#confluence-detector g.lump-axis .tick,
svg#confluence-detector g.lump-name-axis text {
  color: orange;
  font-size: 1.2em;
}
svg#confluence-detector g.price-axis text,
svg#confluence-detector g.unlump-name-axis text {
  font-size: 0.9em;
}

.toggle-handle {
  position: fixed;
  left: -1px;
  bottom: 20px;
  cursor: pointer;
  padding: 6px 8px 6px 12px;
  opacity: 0.6;
  transition: 0.3s;
  z-index: 4;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.toggle-handle:hover {
  box-shadow: 0 2px 5px 0px rgba(255, 255, 255, 0.16),
    0 2px 10px 0px rgba(255, 255, 255, 0.12);
  opacity: 1;
}

nav.my-nav {
  position: sticky;
  z-index: 5;
  font-weight: 500;
}

nav.my-nav a.w3-bar-item {
  padding: 8px 16px;
}

nav.my-nav a.w3-bar-item:first-child {
  padding-left: 20px;
}

.my-column {
  width: 180px;
}

.my-borderless {
  border-width: 0px;
}

.my-pointer:hover {
  cursor: pointer;
}

.my-default-cursor:hover {
  cursor: default;
}

.my-italic {
  font-style: italic;
}

.my-cell {
  height: 39px;
  display: table-cell;
}

.my-third {
  width: 33.33%;
}

.my-fourth {
  width: 25%;
}

.my-small-range {
  width: 91px;
  display: block;
}

/* Adapted from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
/* May need -moz- properties to work in Firefox */

.my-range {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 30px; /* Specified height */
  background: white;
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.my-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: black;
  cursor: pointer; /* Cursor on hover */
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
