/* General style */

html,
body,
div#root {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg g {
  font-family: 'Kreon', sans-serif;
}

/* Navigation styling */

nav.my-nav {
  position: sticky;
  z-index: 5;
  font-weight: 500;
}

nav.my-nav a.w3-bar-item {
  padding: 8px 16px;
}

nav.my-nav a.w3-bar-item:first-child {
  padding-left: 20px;
}

/* General add-ons */

.monospace {
  font-family: 'Roboto Mono', 'PT Mono', Monaco, Menlo, Consolas, 'Courier New',
    monospace;
}

.my-no-wrap {
  white-space: nowrap;
}

.my-transition {
  transition: 0.4s;
}

.my-italic {
  font-style: italic;
}

.my-margin-auto {
  margin: auto;
}

.my-display-flex {
  display: flex;
}

.my-full-height {
  height: 100%;
}

.my-full-width {
  width: 100%;
}

.my-full-stretch {
  height: 100%;
  width: 100%;
}

.my-kreon {
  font-family: 'Kreon', sans-serif;
}

.my-low-opacity {
  opacity: 0.3;
}

.my-full-opacity {
  opacity: 1;
}

.my-no-decoration {
  text-decoration: none;
}

/* Hover effects */

.my-fader {
  opacity: 0.6;
  transition: 0.3s;
}

.my-fader:hover {
  opacity: 1;
}

.my-white-glow {
  border: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.6;
}

.my-white-glow:hover {
  box-shadow: 0 2px 5px 0px rgba(255, 255, 255, 0.16),
    0 2px 10px 0px rgba(255, 255, 255, 0.12);
  opacity: 1;
}

/* Pointers */

.my-pointer:hover {
  cursor: pointer;
}

.my-default-cursor:hover {
  cursor: default;
}

/* Input styling */

input.my-check,
input.my-radio {
  width: 17px;
  height: 17px;
  top: 3px;
  margin-right: 2px;
  position: relative;
}

input.my-small-input {
  padding: 0 10px;
  margin: 0 8px 0 0;
  width: 100px;
}

input.my-label-input {
  width: 200px;
}

/* Rounded borders */

.my-round {
  border-radius: 8px;
}

.my-round-left {
  border-radius: 8px 0 0 8px;
}

.my-round-right {
  border-radius: 0 8px 8px 0;
}

.my-round-top {
  border-radius: 8px 8px 0 0;
}

.my-round-bottom {
  border-radius: 0 0 8px 8px;
}

.my-round-bottom-left {
  border-radius: 0 0 0 8px;
}
.my-round-bottom-right {
  border-radius: 0 0 8px 0;
}

/* Panel styling */

.my-panel-title {
  font-family: 'Roboto Condensed';
}

/* Text buttons */

.my-text-button {
  color: white;
  background: none;
  border: none;
  margin: 0;
  padding: 0 8px;
  margin: 0 6px;
  cursor: pointer;
  border: 1px solid transparent;
}

.my-text-button:hover {
  color: orange;
  border: 1px solid orange;
  outline: 0;
}

.my-text-button:active,
.my-text-button:focus {
  color: white;
  border: 1px solid white;
  outline: 0;
}

/******************************************************************************/
/***   DISCLAIMER-SPECIFIC STYLING   ******************************************/
/******************************************************************************/

div.my-cookie-disclaimer-container {
  width: 100%;
  position: fixed;
  bottom: 0;
}

div.my-cookie-disclaimer {
  width: 80%;
}

/* TODO flexify */
div.my-financial-disclaimer-container {
  display: table;
  height: 100vh;
  width: 100%;
}

div.my-financial-disclaimer > div {
  display: table-cell;
  vertical-align: middle;
}

div.my-financial-disclaimer {
  max-width: 580px;
  width: 580px;
}

/******************************************************************************/
/***   ICON-SPECIFIC STYLING   ************************************************/
/******************************************************************************/

svg.my-bitcoin {
  width: 12px;
  fill: white;
  position: relative;
  top: 2px;
  margin-right: 4px;
}

img.my-lock {
  margin: 0 1px 2px;
}

/* Filters to color images */
/* filters computation app: https://codepen.io/sosuke/pen/Pjoqqp */

img.my-lime {
  filter: invert(100%) sepia(78%) saturate(4813%) hue-rotate(18deg)
    brightness(103%) contrast(112%);
}

img.my-red {
  filter: invert(15%) sepia(96%) saturate(6773%) hue-rotate(6deg)
    brightness(104%) contrast(120%);
}

img.my-gold {
  filter: invert(85%) sepia(36%) saturate(526%) hue-rotate(355deg)
    brightness(85%) contrast(97%);
}

img.my-green {
  filter: invert(48%) sepia(41%) saturate(3401%) hue-rotate(87deg)
    brightness(129%) contrast(117%);
}

img.my-white {
  filter: invert(99%) sepia(4%) saturate(2%) hue-rotate(190deg) brightness(118%)
    contrast(100%);
}

/******************************************************************************/
/***   PAGE-SPECIFIC STYLING   ************************************************/
/******************************************************************************/

/* Common */

div.my-content-panel {
  margin: 16px 16px 16px 32px !important;
}

/* Trade */

div.my-trading-interface {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 100%;
}

div.my-trading-interface > div {
  flex-grow: 1;
}

div.my-auth-panel {
  width: 100%;
  max-width: 650px;
  margin: 16px auto !important;
  text-align: center;
}

/** Common */

div.my-table-container {
  margin: 4px 0 12px;
}

div.my-radio-group-label {
  margin-right: 8px;
}

thead.my-sticky-thead > tr > th {
  top: 0;
  position: sticky;
  z-index: 3;
  background: inherit;
}

/** Order Futures */

div.my-top-buttons-container {
  display: flex;
  flex-flow: row wrap;
  padding: 8px 24px 16px;
}

button.my-top-button {
  margin: 4px;
  flex-grow: 1;
}

div.my-row-label {
  width: 25%;
  max-width: 150px;
}

div.my-row-content {
  width: 75%;
}

select.my-futures-selector {
  padding: 0 8px 0 4px;
  display: inline;
}

div.my-auto-premium-container {
  margin: 4px 0 0 8px;
}

div.my-perpetual-container {
  margin: 4px 0 0 8px;
}

div.my-future-order-close-error-container {
  width: 15%;
}

div.my-future-order-error-container {
  width: 85%;
}

/** Order Options */

div.my-expirations {
  display: inline-flex;
  overflow-x: auto;
}

div.my-expiration {
  flex-shrink: 0;
}

div.my-option-chain {
  display: flex;
  flex-flow: row wrap;
}

div.my-half-option-chain {
  flex-grow: 1;
}

div.my-option-inner-container {
  height: 250px;
  overflow-y: auto;
  margin-bottom: 12px;
}

div.my-option-inner-container table th:last-child,
div.my-option-inner-container table td:last-child {
  padding-right: 25px;
}

/** Option basket */

div.my-option-basket-outer-container {
  margin-top: 16px;
  position: sticky;
  bottom: -16px;
  width: 100%;
  padding-bottom: 8px !important;
  z-index: 3;
}

div.my-option-basket-inner-container {
  box-shadow: 0 2px 5px 0px rgba(255, 255, 255, 0.16),
    0 2px 10px 0px rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 8px !important;
  width: fit-content;
  margin: 0 auto;
  height: auto;
  max-height: 27vh;
  overflow-y: auto;
}

table.my-option-basket {
  width: auto;
}

div.my-option-basket-hide {
  width: 'fit-content';
  padding: 4px;
}

div.my-option-basket-show {
  width: fit-content;
  margin: 0 auto 7px;
  padding: 8px 6px 12px 6px;
  align-self: flex-end;
}

table.my-option-basket td,
table.my-option-basket th {
  vertical-align: middle;
}

input.my-option-basket-quantity {
  width: 75px;
}

input.my-option-basket-price {
  width: 95px;
}

/** Position */

div.my-position {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

div.my-position-title {
  flex-grow: 0;
}

div.my-greeks {
  display: flex;
  justify-content: space-around;
  flex-grow: 0;
}

div.my-pnl-chart-container {
  flex-grow: 1;
}

svg.my-pnl-chart {
  width: 100%;
  height: 100%;
  min-height: 150px;
}

rect.my-pnl-test-rect {
  fill: white;
}

div.my-position-foo {
  flex-grow: 0;
  height: fit-content;
}

/* Content */

div.my-content {
  display: flex;
  align-content: stretch;
  width: 100%;
}

div.my-right {
  flex-grow: 1;
}

div.my-right-content-outer-container {
  display: flex;
  height: calc(100vh - 120px);
}

div.my-right-content-inner-container {
  width: 100%;
  text-align: center;
  margin: auto;
}

/** Left */

.my-left-toggle {
  position: fixed;
  left: -1px;
  bottom: 20px;
  cursor: pointer;
  padding: 6px 8px 6px 12px;
  opacity: 0.6;
  transition: 0.3s;
  z-index: 4;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.my-left-toggle:hover {
  box-shadow: 0 2px 5px 0px rgba(255, 255, 255, 0.16),
    0 2px 10px 0px rgba(255, 255, 255, 0.12);
  opacity: 1;
}

div.my-left {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  text-align: center;
}

div.my-left > div {
  margin: 8px 25px 8px 16px !important;
}

/*** Title */

div.my-title {
  top: 0;
  position: sticky;
  margin: 0 8px 8px -8px;
  text-align: center;
}

div.my-title h1 {
  font-family: 'Parisienne', 'Alex Brush', 'Allura', 'Dancing Script', serif;
  font-size: 80pt;
  line-height: 1.25;
}

/*** Notes */

textarea.my-notes {
  resize: none;
  overflow: hidden;
}

/*** Volume flow chart */

div.my-flow-numbers-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

div.my-flow-numbers-container > div {
  flex-grow: 1;
}

div.my-price-number {
  color: royalblue;
}

div.my-sell-flow-number {
  color: #b33;
}

svg.my-volume-flow-chart g {
  font-size: 0.85em;
}

svg.my-volume-flow-chart g.flow-grid line {
  stroke: lightgrey;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

/*** Recent trades */

tr.my-recent-trade-buy {
  color: lime;
}

tr.my-recent-trade-sell {
  color: rgb(235, 90, 90);
}

td.my-recent-trade-time {
  text-align: right;
}

td.my-recent-trade-side {
  text-transform: uppercase;
  text-align: right;
  width: 65px;
}

td.my-recent-trade-size {
  text-align: center;
  width: 120px;
}

td.my-recent-trade-price {
  text-align: left;
}

/* Confluence */

div.my-timeframes-container {
  width: 175px;
  min-width: 175px;
}

ul.my-checks {
  list-style-type: none;
  line-height: 2;
}

span.my-check-label {
  margin: 0 7px 0 5px;
}

svg.my-confluence-detector g {
  font-size: 0.95em;
}

svg.my-confluence-detector g.lump-axis text,
svg.my-confluence-detector g.lump-axis .tick,
svg.my-confluence-detector g.lump-name-axis text {
  color: orange;
  font-size: 1.2em;
}
svg.my-confluence-detector g.price-axis text,
svg.my-confluence-detector g.unlump-name-axis text {
  font-size: 0.9em;
}

/* Indicators */

div.my-indicator-overview {
  margin: 16px 16px 16px 32px !important;
}

/******************************************************************************/
/***   Check classes below for obsoletion (after Deribit component is done)   */
/******************************************************************************/

.my-column {
  width: 180px;
}

.my-borderless {
  border-width: 0px;
}

.my-cell {
  height: 39px;
  display: table-cell;
}

.my-third {
  width: 33.33%;
}

.my-fourth {
  width: 25%;
}

.my-small-range {
  width: 91px;
  display: block;
}

/* Adapted from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
/* May need -moz- properties to work in Firefox */

.my-range {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 30px; /* Specified height */
  background: white;
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.my-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: black;
  cursor: pointer; /* Cursor on hover */
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/*** Trade Journal (should've been deprecated) ***/

table#trade-history {
  width: 100%;
}

table#trade-history td {
  padding: 5px 7px;
}

table#trade-history td.trade-history-comment {
  padding: 10px;
}

table#trade-history td.trade-history-comment p.created-at {
  text-align: right;
  margin: auto;
  font-style: italic;
  font-size: 0.75em;
}

table#trade-history td.trade-history-comment p.comment {
  margin: 0;
}

table#trade-history td.trade-history-add-comment textarea {
  width: 97%;
  min-width: 97%;
  max-width: fit-content;
  margin: 15px 0;
}
